/* 어도비에서 source-sans-pro free 다운 */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"); */
/* @import url("https://use.typekit.net/vsv8zys.css"); */

/* tailwind 를 css 에 넣어주는 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* source-serif-pro 버전의 구글 폰트 */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tenor+Sans&display=swap"); */

/* 기본 폰트 pretendard 설정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 세리프체 - 검색 hero 테스트 : 사용 안 함 🟠 */
@font-face {
  font-family: "MapoDacapo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDacapoA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 세리프체 - Cobaissi - 검색 hero 테스트 : 사용 안 함 🟠 */
@font-face {
  font-family: "Cobaissi";
  src: url("/public/fonts/Cobaissi/cobaissi-webfont.woff2") format("woff2"),
    url("/public/fonts/Cobaissi/cobaissi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

/* 스크롤바 설정 */
/* width */
::-webkit-scrollbar {
  border-radius: 8px; /* 둥근 모서리의 크기 조정 */
  width: 10px;
}

/* 스크롤바 트랙(경로)에 대한 스타일 */
::-webkit-scrollbar-track {
  border-radius: 8px; /* 둥근 모서리의 크기 조정 */
  background: #fcfcfc;
}

/* 스크롤바 핸들(스크롤 막대)에 대한 스타일 */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 8px;
}

/* 스크롤바 호버 */
::-webkit-scrollbar-thumb:hover {
  background: #f0eded;
}

/* 드래그해서, 선택했을 때, 기본 색상 | Dribble */
::selection {
  background-color: rgba(255, 218, 121, 0.5);
  color: #0d0c22; /* 필요에 따라 색상 조정 */
}

/* -------- ☝☝☝☝☝ 여기까지 default css -------------- */

/* -------- 👇👇👇👇👇 여기부터 custom css ---------------- */

.info-list-item::before {
  margin-right: 0.5em;
}

/* ⭐ 그리드 설정 ⭐ | 예시니까 지우지 마!  */
@media (min-width: 640px) {
  /* .grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
  } */

  /* .searchBar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  } */

  /* .menuBar {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  } */

  /* .main {
    grid-column: 2/3;
    grid-row: 3/4;
  } */

  /* ⭐ 이게 카드 리스트 그리드 컨테이너 ⭐ */
  .cardListGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, auto));
    gap: 36px;
  }

  .detailPageGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 40px;
  }

  .clipping_path {
    clip-path : polygon()
  }

  /* [1차 설정] 
    .cardListGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 2%;
  } */

  /* .sidebarLeft {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .sidebarRight {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .footer {
    grid-column: 1/4;
    grid-row: 4/5;
  } */
}
